
@{
    ViewBag.Title = "admin";
}

<div style="margin:20px;">
    <h2>Admin Main Menu</h2>
</div>


  <div class="col-xs-12">

          
    <ul class="list-group">
        <li ist-group-item>@Html.ActionLink("Graduate (Software Development)", "Graduates", "ApplicantsFiles")</li>
        <li ist-group-item>@Html.ActionLink("Internship (SQA)", "InternshipSQA", "ApplicantsFiles")</li>
        <li ist-group-item>@Html.ActionLink("Internship (Software Development) ", "InternshipSD", "ApplicantsFiles")</li>
        <li ist-group-item>@Html.ActionLink("Learnership", "LearnershipSD", "ApplicantsFiles")</li>
        @*<li ist-group-item>@Html.ActionLink("Applicants", "Index", "Applicants")</li>*@
    </ul>
</div>


 <div class="col-xs-12" style="margin-bottom:10px;">
        <input type="submit" value="Logout" class="btn btn-default" onclick="window.location='javascript: history.go(-1)';" style="background-color:#f39c12;  border-color:#f39c12;" />
        <input type="submit" value="Home" class="btn btn-default" onclick="window.open('http://modusmvc.azurewebsites.net/');" style="background-color:#f39c12; border-color:#f39c12;" />
 </div>




