
@{
    ViewBag.Title = "admin";
}

<h2>Admin Main Menu</h2>

  <div class="col-xs-12" style="height:100px;">
</div>

        <ul class="list-group">
            <li ist-group-item>@Html.ActionLink("Graduate (Software Development)", "Graduates", "ApplicantsFiles")</li>
            <li ist-group-item>@Html.ActionLink("Internship (SQA)", "InternshipSQA", "ApplicantsFiles")</li>
            <li ist-group-item>@Html.ActionLink("Internship (Software Development) ", "InternshipSD", "ApplicantsFiles")</li>
            <li ist-group-item>@Html.ActionLink("Learnership", "LearnershipSD", "ApplicantsFiles")</li>
            @*<li ist-group-item>@Html.ActionLink("Applicants", "Index", "Applicants")</li>*@
        </ul>

<div class="col-xs-12" style="height:100px;">
</div>

<div>
    <a href="javascript: history.go(-1)">Go Back</a>
</div>



