@model ModusMVC.Models.Applicant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Applicant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantIdentity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantIdentity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantCell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantCell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantCV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
